
-var pictures = [ { pic: '/img/masterclasses/masterclasses_1.jpg', picWebp: '/img/masterclasses/masterclasses_1.webp', x320webp: '/img/masterclasses/masterclasses_1_320.webp', x320jpg: '/img/masterclasses/masterclasses_1_320.jpg 320w', x768webp: '/img/masterclasses/masterclasses_1_768.webp', x768jpg: '/img/masterclasses/masterclasses_1_768.jpg 768w', x1024webp: '/img/masterclasses/masterclasses_1_1024.webp', x1024jpg: '/img/masterclasses/masterclasses_1_1024.jpg 1024w', href: '#', title: 'Ретушь. Продвинутый уровень', alt: 'Фото', }, { pic: '/img/masterclasses/masterclasses_2.jpg', picWebp: '/img/masterclasses/masterclasses_2.webp', x320webp: '/img/masterclasses/masterclasses_2_320.webp', x320jpg: '/img/masterclasses/masterclasses_2_320.jpg 320w', x768webp: '/img/masterclasses/masterclasses_2_768.webp', x768jpg: '/img/masterclasses/masterclasses_2_768.jpg 768w', x1024webp: '/img/masterclasses/masterclasses_2_1024.webp', x1024jpg: '/img/masterclasses/masterclasses_2_1024.jpg 1024w', href: '#', title: 'Макросъемка. Проблемы и нюансы', alt: 'Фото', }, { pic: '/img/masterclasses/masterclasses_3.jpg', picWebp: '/img/masterclasses/masterclasses_3.webp', x320webp: '/img/masterclasses/masterclasses_3_320.webp', x320jpg: '/img/masterclasses/masterclasses_3_320.jpg 320w', x768webp: '/img/masterclasses/masterclasses_3_768.webp', x768jpg: '/img/masterclasses/masterclasses_3_768.jpg 768w', x1024webp: '/img/masterclasses/masterclasses_3_1024.webp', x1024jpg: '/img/masterclasses/masterclasses_3_1024.jpg 1024w', href: '#', title: 'Портретная съемка. Свет', alt: 'Фото', }, { pic: '/img/masterclasses/masterclasses_4.jpg', picWebp: '/img/masterclasses/masterclasses_4.webp', x320webp: '/img/masterclasses/masterclasses_4_320.webp', x320jpg: '/img/masterclasses/masterclasses_4_320.jpg 320w', x768webp: '/img/masterclasses/masterclasses_4_768.webp', x768jpg: '/img/masterclasses/masterclasses_4_768.jpg 768w', x1024webp: '/img/masterclasses/masterclasses_4_1024.webp', x1024jpg: '/img/masterclasses/masterclasses_4_1024.jpg 1024w', href: '#', title: 'Творческая ретушь для начинающих', alt: 'Фото', }, ];

//- -var pictures = [
//-   {
//-     pic: '/img/masterclasses/masterclasses_1.jpg',
//-     picWebp: '/img/masterclasses/masterclasses_1.webp',
//-     x320webp: '/img/masterclasses/masterclasses_1_320.webp',
//-     x320jpg: '/img/masterclasses/masterclasses_1_320.jpg 320w',
//-     x768webp: '/img/masterclasses/masterclasses_1_768.webp',
//-     x768jpg: '/img/masterclasses/masterclasses_1_768.jpg 768w',
//-     x1024webp: '/img/masterclasses/masterclasses_1_1024.webp',
//-     x1024jpg: '/img/masterclasses/masterclasses_1_1024.jpg 1024w',
//-     href: '#',
//-     title: 'Ретушь. Продвинутый уровень',
//-     alt: 'Фото',
//-   },
//-   {
//-     pic: '/img/masterclasses/masterclasses_2.jpg',
//-     picWebp: '/img/masterclasses/masterclasses_2.webp',
//-     x320webp: '/img/masterclasses/masterclasses_2_320.webp',
//-     x320jpg: '/img/masterclasses/masterclasses_2_320.jpg 320w',
//-     x768webp: '/img/masterclasses/masterclasses_2_768.webp',
//-     x768jpg: '/img/masterclasses/masterclasses_2_768.jpg 768w',
//-     x1024webp: '/img/masterclasses/masterclasses_2_1024.webp',
//-     x1024jpg: '/img/masterclasses/masterclasses_2_1024.jpg 1024w',
//-     href: '#',
//-     title: 'Макросъемка. Проблемы и нюансы',
//-     alt: 'Фото',
//-   },
//-   {
//-     pic: '/img/masterclasses/masterclasses_3.jpg',
//-     picWebp: '/img/masterclasses/masterclasses_3.webp',
//-     x320webp: '/img/masterclasses/masterclasses_3_320.webp',
//-     x320jpg: '/img/masterclasses/masterclasses_3_320.jpg 320w',
//-     x768webp: '/img/masterclasses/masterclasses_3_768.webp',
//-     x768jpg: '/img/masterclasses/masterclasses_3_768.jpg 768w',
//-     x1024webp: '/img/masterclasses/masterclasses_3_1024.webp',
//-     x1024jpg: '/img/masterclasses/masterclasses_3_1024.jpg 1024w',
//-     href: '#',
//-     title: 'Портретная съемка. Свет',
//-     alt: 'Фото',
//-   },
//-   {
//-     pic: '/img/masterclasses/masterclasses_4.jpg',
//-     picWebp: '/img/masterclasses/masterclasses_4.webp',
//-     x320webp: '/img/masterclasses/masterclasses_4_320.webp',
//-     x320jpg: '/img/masterclasses/masterclasses_4_320.jpg 320w',
//-     x768webp: '/img/masterclasses/masterclasses_4_768.webp',
//-     x768jpg: '/img/masterclasses/masterclasses_4_768.jpg 768w',
//-     x1024webp: '/img/masterclasses/masterclasses_4_1024.webp',
//-     x1024jpg: '/img/masterclasses/masterclasses_4_1024.jpg 1024w',
//-     href: '#',
//-     title: 'Творческая ретушь для начинающих',
//-     alt: 'Фото',
//-   },
//- ];


mixin dateInfo(date, time)
  .masterclasses__dateInfo--wrapped
    span.masterclasses__dateInfo
      svg
        use(xlink:href="img/svg/sprite.svg#calendar")
      span=date
    span.masterclasses__dateInfo
      svg
        use(xlink:href="img/svg/sprite.svg#clock")
      span=time


section.masterclasses#masterclasses
  .container
    h2.masterclasses__title Мастер-классы
    section.masterclasses-head
      picture.masterclasses-head__picture
        source(srcset="/img/masterclasses/masterclasses_head.webp" type="image/webp" media="(min-width: 1400px)")
        source(srcset="/img/masterclasses/masterclasses_head_1024.webp" type="image/webp" media="(min-width: 1024px)")
        source(srcset="/img/masterclasses/masterclasses_head_768.webp" type="image/webp" media="(min-width: 768px)")
        source(srcset="/img/masterclasses/masterclasses_head_320.webp" type="image/webp" media="(max-width: 512px)")
        img.ourServices-item__img(loading="lazy" srcset="/img/masterclasses/masterclasses_head_320.jpg" src="/img/masterclasses/masterclasses_head.jpg" alt="Фотография фотоаппарата")
      .masterclasses-head__info
        +dateInfo('8 июня', '15:00')
        h3.masterclasses-head__title Пленка для начинающих
        p.masterclasses-head__text Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: семантический разбор внешних противодействий, в своём классическом представлении.
        a.masterclasses-head__link.btn-full(href="#") Узнать больше
    ul.masterclasses-foot__list
      each pic in pictures
        li.masterclasses-foot__item
          article.masterclasses-foot-article
            picture.masterclasses-foot-article__picture
              source(srcset=pic.picWebp type="image/webp" media="(min-width: 1400px)")
              source(srcset=pic.x1024webp type="image/webp" media="(min-width: 1024px)")
              source(srcset=pic.x768webp type="image/webp" media="(min-width: 768px)")
              source(srcset=pic.x320webp type="image/webp" media="(max-width: 512px)")
              img.masterclasses-foot-article__img(loading="lazy" srcset=pic.x320jpg src=pic.pic alt=pic.alt)
            .masterclasses-foot-article__infoWrap
              +dateInfo('8 июня', '15:00')
              h4.masterclasses-foot-article__title=pic.title


